# Python artifacts
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
*.py[cod]

# Quarto
report/.quarto/
report/_freeze/
report/*.quarto_ipynb
report/_manuscript/
report/*_files/

.vscode/